In [1]:
import numpy as np
import pandas as pd
import pickle 
import MLACDS as dt

In [2]:
def vary_n_neighbours(N_neighbours_list, df_list):
    frames = {} #dict to save frames to
    for df_ind, N_neighbours in enumerate(N_neighbours_list):
        print(df_list[df_ind], N_neighbours)
        #### list with names to be used in the final dataframe
        l_s = list(range(N_neighbours))
        l_s_names = []
        
        for i in l_s:
            l_s_names.append('l'+str(i)+"_inv")
        
        bo = []
        bo_names = []
        
        f_r_cut_vol = 4 # cutoff for local volume fraction calculation (too small underestimate local volume fraction, too large, too close to total volume fraction)
        
        f_r_cut_sp = 30 # cutoff for n_neighbours for distance calculation value times particle radius
        
        df = dt.load_data(dires, l_s, l_s_names, bo, bo_names, f_r_cut_vol, f_r_cut_sp, N_neighbours, use_bond_order=False)
        frames[df_list[df_ind]] = df
    return frames

In [3]:
dires = ['p0.1_N54/', 'p0.2_N54/']

In [4]:
N_neighbours_start = 1
N_neighbours_end = 16

In [5]:
N_neighbours_list = [i for i in range(N_neighbours_start, N_neighbours_end+1)]
df_list = [f"df_n{i}" for i in range(N_neighbours_start, N_neighbours_end+1)]

In [6]:
dataset_dict = vary_n_neighbours(N_neighbours_list, df_list)

df_n1 1
['l0_inv']
p0.1_N54/

  0%|          | 0/200 [00:00<?, ?it/s]

/home/richard/Work/4th_Year_College/final_year_project/MLACDS/MLACDS.py:543: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df,df2],ignore_index=True)

['l0_inv']
p0.2_N54/

  0%|          | 0/100 [00:00<?, ?it/s]

/home/richard/Work/4th_Year_College/final_year_project/MLACDS/MLACDS.py:543: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df,df2],ignore_index=True)

         l0_inv       vol  n_neighbours        Ds  drop1
0      0.808400  0.139783          53.0  0.521434    inf
1      0.837130  0.142876          53.0  0.532875    inf
2      0.919762  0.106246          53.0  0.485428    inf
3      0.910404  0.119037          53.0  0.492425    inf
4      0.810641  0.075929          53.0  0.562989    inf
...         ...       ...           ...       ...    ...
16195  0.857511  0.215685          53.0  0.393998    inf
16196  0.864222  0.198661          53.0  0.386789    inf
16197  0.852348  0.201818          53.0  0.374940    inf
16198  0.796437  0.238355          53.0  0.415230    inf
16199  0.815197  0.185016          53.0  0.422381    inf

[16200 rows x 5 columns]
df_n2 2
['l0_inv', 'l1_inv']
p0.1_N54/

  0%|          | 0/200 [00:00<?, ?it/s]

/home/richard/Work/4th_Year_College/final_year_project/MLACDS/MLACDS.py:543: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df,df2],ignore_index=True)

['l0_inv', 'l1_inv']
p0.2_N54/

  0%|          | 0/100 [00:00<?, ?it/s]

/home/richard/Work/4th_Year_College/final_year_project/MLACDS/MLACDS.py:543: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df,df2],ignore_index=True)

         l0_inv    l1_inv       vol  n_neighbours        Ds  drop1
0      0.808400  0.774553  0.139783          53.0  0.521434    inf
1      0.837130  0.654626  0.142876          53.0  0.532875    inf
2      0.919762  0.910404  0.106246          53.0  0.485428    inf
3      0.910404  0.810641  0.119037          53.0  0.492425    inf
4      0.810641  0.671539  0.075929          53.0  0.562989    inf
...         ...       ...       ...           ...       ...    ...
16195  0.857511  0.803709  0.215685          53.0  0.393998    inf
16196  0.864222  0.857511  0.198661          53.0  0.386789    inf
16197  0.852348  0.840062  0.201818          53.0  0.374940    inf
16198  0.796437  0.758259  0.238355          53.0  0.415230    inf
16199  0.815197  0.804425  0.185016          53.0  0.422381    inf

[16200 rows x 6 columns]
df_n3 3
['l0_inv', 'l1_inv', 'l2_inv']
p0.1_N54/

  0%|          | 0/200 [00:00<?, ?it/s]

/home/richard/Work/4th_Year_College/final_year_project/MLACDS/MLACDS.py:543: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df,df2],ignore_index=True)

['l0_inv', 'l1_inv', 'l2_inv']
p0.2_N54/

  0%|          | 0/100 [00:00<?, ?it/s]

/home/richard/Work/4th_Year_College/final_year_project/MLACDS/MLACDS.py:543: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df,df2],ignore_index=True)

         l0_inv    l1_inv    l2_inv       vol  n_neighbours        Ds  drop1
0      0.808400  0.774553  0.708071  0.139783          53.0  0.521434    inf
1      0.837130  0.654626  0.612513  0.142876          53.0  0.532875    inf
2      0.919762  0.910404  0.654626  0.106246          53.0  0.485428    inf
3      0.910404  0.810641  0.751972  0.119037          53.0  0.492425    inf
4      0.810641  0.671539  0.556669  0.075929          53.0  0.562989    inf
...         ...       ...       ...       ...           ...       ...    ...
16195  0.857511  0.803709  0.743611  0.215685          53.0  0.393998    inf
16196  0.864222  0.857511  0.821348  0.198661          53.0  0.386789    inf
16197  0.852348  0.840062  0.794275  0.201818          53.0  0.374940    inf
16198  0.796437  0.758259  0.729277  0.238355          53.0  0.415230    inf
16199  0.815197  0.804425  0.692011  0.185016          53.0  0.422381    inf

[16200 rows x 7 columns]
df_n4 4
['l0_inv', 'l1_inv', 'l2_inv', 'l3_inv']
p0.1_N54/

  0%|          | 0/200 [00:00<?, ?it/s]

/home/richard/Work/4th_Year_College/final_year_project/MLACDS/MLACDS.py:543: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df,df2],ignore_index=True)

['l0_inv', 'l1_inv', 'l2_inv', 'l3_inv']
p0.2_N54/

  0%|          | 0/100 [00:00<?, ?it/s]

/home/richard/Work/4th_Year_College/final_year_project/MLACDS/MLACDS.py:543: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df,df2],ignore_index=True)

         l0_inv    l1_inv    l2_inv    l3_inv       vol  n_neighbours  \
0      0.808400  0.774553  0.708071  0.640808  0.139783          53.0
1      0.837130  0.654626  0.612513  0.594445  0.142876          53.0
2      0.919762  0.910404  0.654626  0.554297  0.106246          53.0
3      0.910404  0.810641  0.751972  0.655009  0.119037          53.0
4      0.810641  0.671539  0.556669  0.505036  0.075929          53.0
...         ...       ...       ...       ...       ...           ...
16195  0.857511  0.803709  0.743611  0.698650  0.215685          53.0
16196  0.864222  0.857511  0.821348  0.734750  0.198661          53.0
16197  0.852348  0.840062  0.794275  0.781626  0.201818          53.0
16198  0.796437  0.758259  0.729277  0.670857  0.238355          53.0
16199  0.815197  0.804425  0.692011  0.691546  0.185016          53.0

             Ds  drop1
0      0.521434    inf
1      0.532875    inf
2      0.485428    inf
3      0.492425    inf
4      0.562989    inf
...         ...    ...
16195  0.393998    inf
16196  0.386789    inf
16197  0.374940    inf
16198  0.415230    inf
16199  0.422381    inf

[16200 rows x 8 columns]
df_n5 5
['l0_inv', 'l1_inv', 'l2_inv', 'l3_inv', 'l4_inv']
p0.1_N54/

  0%|          | 0/200 [00:00<?, ?it/s]

/home/richard/Work/4th_Year_College/final_year_project/MLACDS/MLACDS.py:543: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df,df2],ignore_index=True)

['l0_inv', 'l1_inv', 'l2_inv', 'l3_inv', 'l4_inv']
p0.2_N54/

  0%|          | 0/100 [00:00<?, ?it/s]

/home/richard/Work/4th_Year_College/final_year_project/MLACDS/MLACDS.py:543: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df,df2],ignore_index=True)

         l0_inv    l1_inv    l2_inv    l3_inv    l4_inv       vol  \
0      0.808400  0.774553  0.708071  0.640808  0.621396  0.139783
1      0.837130  0.654626  0.612513  0.594445  0.579262  0.142876
2      0.919762  0.910404  0.654626  0.554297  0.523910  0.106246
3      0.910404  0.810641  0.751972  0.655009  0.554517  0.119037
4      0.810641  0.671539  0.556669  0.505036  0.474437  0.075929
...         ...       ...       ...       ...       ...       ...
16195  0.857511  0.803709  0.743611  0.698650  0.676909  0.215685
16196  0.864222  0.857511  0.821348  0.734750  0.705376  0.198661
16197  0.852348  0.840062  0.794275  0.781626  0.767399  0.201818
16198  0.796437  0.758259  0.729277  0.670857  0.608679  0.238355
16199  0.815197  0.804425  0.692011  0.691546  0.658428  0.185016

       n_neighbours        Ds  drop1
0              53.0  0.521434    inf
1              53.0  0.532875    inf
2              53.0  0.485428    inf
3              53.0  0.492425    inf
4              53.0  0.562989    inf
...             ...       ...    ...
16195          53.0  0.393998    inf
16196          53.0  0.386789    inf
16197          53.0  0.374940    inf
16198          53.0  0.415230    inf
16199          53.0  0.422381    inf

[16200 rows x 9 columns]
df_n6 6
['l0_inv', 'l1_inv', 'l2_inv', 'l3_inv', 'l4_inv', 'l5_inv']
p0.1_N54/

  0%|          | 0/200 [00:00<?, ?it/s]

/home/richard/Work/4th_Year_College/final_year_project/MLACDS/MLACDS.py:543: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df,df2],ignore_index=True)

['l0_inv', 'l1_inv', 'l2_inv', 'l3_inv', 'l4_inv', 'l5_inv']
p0.2_N54/

  0%|          | 0/100 [00:00<?, ?it/s]

/home/richard/Work/4th_Year_College/final_year_project/MLACDS/MLACDS.py:543: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df,df2],ignore_index=True)

         l0_inv    l1_inv    l2_inv    l3_inv    l4_inv    l5_inv       vol  \
0      0.808400  0.774553  0.708071  0.640808  0.621396  0.580007  0.139783
1      0.837130  0.654626  0.612513  0.594445  0.579262  0.550062  0.142876
2      0.919762  0.910404  0.654626  0.554297  0.523910  0.512782  0.106246
3      0.910404  0.810641  0.751972  0.655009  0.554517  0.515427  0.119037
4      0.810641  0.671539  0.556669  0.505036  0.474437  0.448297  0.075929
...         ...       ...       ...       ...       ...       ...       ...
16195  0.857511  0.803709  0.743611  0.698650  0.676909  0.658428  0.215685
16196  0.864222  0.857511  0.821348  0.734750  0.705376  0.633573  0.198661
16197  0.852348  0.840062  0.794275  0.781626  0.767399  0.734750  0.201818
16198  0.796437  0.758259  0.729277  0.670857  0.608679  0.593595  0.238355
16199  0.815197  0.804425  0.692011  0.691546  0.658428  0.653597  0.185016

       n_neighbours        Ds  drop1
0              53.0  0.521434    inf
1              53.0  0.532875    inf
2              53.0  0.485428    inf
3              53.0  0.492425    inf
4              53.0  0.562989    inf
...             ...       ...    ...
16195          53.0  0.393998    inf
16196          53.0  0.386789    inf
16197          53.0  0.374940    inf
16198          53.0  0.415230    inf
16199          53.0  0.422381    inf

[16200 rows x 10 columns]
df_n7 7
['l0_inv', 'l1_inv', 'l2_inv', 'l3_inv', 'l4_inv', 'l5_inv', 'l6_inv']
p0.1_N54/

  0%|          | 0/200 [00:00<?, ?it/s]

/home/richard/Work/4th_Year_College/final_year_project/MLACDS/MLACDS.py:543: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df,df2],ignore_index=True)

['l0_inv', 'l1_inv', 'l2_inv', 'l3_inv', 'l4_inv', 'l5_inv', 'l6_inv']
p0.2_N54/

  0%|          | 0/100 [00:00<?, ?it/s]

/home/richard/Work/4th_Year_College/final_year_project/MLACDS/MLACDS.py:543: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df,df2],ignore_index=True)

         l0_inv    l1_inv    l2_inv    l3_inv    l4_inv    l5_inv    l6_inv  \
0      0.808400  0.774553  0.708071  0.640808  0.621396  0.580007  0.509452
1      0.837130  0.654626  0.612513  0.594445  0.579262  0.550062  0.533557
2      0.919762  0.910404  0.654626  0.554297  0.523910  0.512782  0.480448
3      0.910404  0.810641  0.751972  0.655009  0.554517  0.515427  0.514168
4      0.810641  0.671539  0.556669  0.505036  0.474437  0.448297  0.448175
...         ...       ...       ...       ...       ...       ...       ...
16195  0.857511  0.803709  0.743611  0.698650  0.676909  0.658428  0.621393
16196  0.864222  0.857511  0.821348  0.734750  0.705376  0.633573  0.611636
16197  0.852348  0.840062  0.794275  0.781626  0.767399  0.734750  0.670857
16198  0.796437  0.758259  0.729277  0.670857  0.608679  0.593595  0.591041
16199  0.815197  0.804425  0.692011  0.691546  0.658428  0.653597  0.602678

            vol  n_neighbours        Ds  drop1
0      0.139783          53.0  0.521434    inf
1      0.142876          53.0  0.532875    inf
2      0.106246          53.0  0.485428    inf
3      0.119037          53.0  0.492425    inf
4      0.075929          53.0  0.562989    inf
...         ...           ...       ...    ...
16195  0.215685          53.0  0.393998    inf
16196  0.198661          53.0  0.386789    inf
16197  0.201818          53.0  0.374940    inf
16198  0.238355          53.0  0.415230    inf
16199  0.185016          53.0  0.422381    inf

[16200 rows x 11 columns]
df_n8 8
['l0_inv', 'l1_inv', 'l2_inv', 'l3_inv', 'l4_inv', 'l5_inv', 'l6_inv', 'l7_inv']
p0.1_N54/

  0%|          | 0/200 [00:00<?, ?it/s]

/home/richard/Work/4th_Year_College/final_year_project/MLACDS/MLACDS.py:543: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df,df2],ignore_index=True)

['l0_inv', 'l1_inv', 'l2_inv', 'l3_inv', 'l4_inv', 'l5_inv', 'l6_inv', 'l7_inv']
p0.2_N54/

  0%|          | 0/100 [00:00<?, ?it/s]

/home/richard/Work/4th_Year_College/final_year_project/MLACDS/MLACDS.py:543: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df,df2],ignore_index=True)

         l0_inv    l1_inv    l2_inv    l3_inv    l4_inv    l5_inv    l6_inv  \
0      0.808400  0.774553  0.708071  0.640808  0.621396  0.580007  0.509452
1      0.837130  0.654626  0.612513  0.594445  0.579262  0.550062  0.533557
2      0.919762  0.910404  0.654626  0.554297  0.523910  0.512782  0.480448
3      0.910404  0.810641  0.751972  0.655009  0.554517  0.515427  0.514168
4      0.810641  0.671539  0.556669  0.505036  0.474437  0.448297  0.448175
...         ...       ...       ...       ...       ...       ...       ...
16195  0.857511  0.803709  0.743611  0.698650  0.676909  0.658428  0.621393
16196  0.864222  0.857511  0.821348  0.734750  0.705376  0.633573  0.611636
16197  0.852348  0.840062  0.794275  0.781626  0.767399  0.734750  0.670857
16198  0.796437  0.758259  0.729277  0.670857  0.608679  0.593595  0.591041
16199  0.815197  0.804425  0.692011  0.691546  0.658428  0.653597  0.602678

         l7_inv       vol  n_neighbours        Ds  drop1
0      0.506456  0.139783          53.0  0.521434    inf
1      0.515427  0.142876          53.0  0.532875    inf
2      0.471929  0.106246          53.0  0.485428    inf
3      0.507962  0.119037          53.0  0.492425    inf
4      0.415394  0.075929          53.0  0.562989    inf
...         ...       ...           ...       ...    ...
16195  0.614620  0.215685          53.0  0.393998    inf
16196  0.544488  0.198661          53.0  0.386789    inf
16197  0.614163  0.201818          53.0  0.374940    inf
16198  0.587466  0.238355          53.0  0.415230    inf
16199  0.591041  0.185016          53.0  0.422381    inf

[16200 rows x 12 columns]
df_n9 9
['l0_inv', 'l1_inv', 'l2_inv', 'l3_inv', 'l4_inv', 'l5_inv', 'l6_inv', 'l7_inv', 'l8_inv']
p0.1_N54/

  0%|          | 0/200 [00:00<?, ?it/s]

/home/richard/Work/4th_Year_College/final_year_project/MLACDS/MLACDS.py:543: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df,df2],ignore_index=True)

['l0_inv', 'l1_inv', 'l2_inv', 'l3_inv', 'l4_inv', 'l5_inv', 'l6_inv', 'l7_inv', 'l8_inv']
p0.2_N54/

  0%|          | 0/100 [00:00<?, ?it/s]

/home/richard/Work/4th_Year_College/final_year_project/MLACDS/MLACDS.py:543: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df,df2],ignore_index=True)

         l0_inv    l1_inv    l2_inv    l3_inv    l4_inv    l5_inv    l6_inv  \
0      0.808400  0.774553  0.708071  0.640808  0.621396  0.580007  0.509452
1      0.837130  0.654626  0.612513  0.594445  0.579262  0.550062  0.533557
2      0.919762  0.910404  0.654626  0.554297  0.523910  0.512782  0.480448
3      0.910404  0.810641  0.751972  0.655009  0.554517  0.515427  0.514168
4      0.810641  0.671539  0.556669  0.505036  0.474437  0.448297  0.448175
...         ...       ...       ...       ...       ...       ...       ...
16195  0.857511  0.803709  0.743611  0.698650  0.676909  0.658428  0.621393
16196  0.864222  0.857511  0.821348  0.734750  0.705376  0.633573  0.611636
16197  0.852348  0.840062  0.794275  0.781626  0.767399  0.734750  0.670857
16198  0.796437  0.758259  0.729277  0.670857  0.608679  0.593595  0.591041
16199  0.815197  0.804425  0.692011  0.691546  0.658428  0.653597  0.602678

         l7_inv    l8_inv       vol  n_neighbours        Ds  drop1
0      0.506456  0.498234  0.139783          53.0  0.521434    inf
1      0.515427  0.506456  0.142876          53.0  0.532875    inf
2      0.471929  0.448175  0.106246          53.0  0.485428    inf
3      0.507962  0.447708  0.119037          53.0  0.492425    inf
4      0.415394  0.394150  0.075929          53.0  0.562989    inf
...         ...       ...       ...           ...       ...    ...
16195  0.614620  0.600692  0.215685          53.0  0.393998    inf
16196  0.544488  0.542580  0.198661          53.0  0.386789    inf
16197  0.614163  0.571852  0.201818          53.0  0.374940    inf
16198  0.587466  0.552172  0.238355          53.0  0.415230    inf
16199  0.591041  0.513711  0.185016          53.0  0.422381    inf

[16200 rows x 13 columns]
df_n10 10
['l0_inv', 'l1_inv', 'l2_inv', 'l3_inv', 'l4_inv', 'l5_inv', 'l6_inv', 'l7_inv', 'l8_inv', 'l9_inv']
p0.1_N54/

  0%|          | 0/200 [00:00<?, ?it/s]

/home/richard/Work/4th_Year_College/final_year_project/MLACDS/MLACDS.py:543: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df,df2],ignore_index=True)

['l0_inv', 'l1_inv', 'l2_inv', 'l3_inv', 'l4_inv', 'l5_inv', 'l6_inv', 'l7_inv', 'l8_inv', 'l9_inv']
p0.2_N54/

  0%|          | 0/100 [00:00<?, ?it/s]

/home/richard/Work/4th_Year_College/final_year_project/MLACDS/MLACDS.py:543: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df,df2],ignore_index=True)

         l0_inv    l1_inv    l2_inv    l3_inv    l4_inv    l5_inv    l6_inv  \
0      0.808400  0.774553  0.708071  0.640808  0.621396  0.580007  0.509452
1      0.837130  0.654626  0.612513  0.594445  0.579262  0.550062  0.533557
2      0.919762  0.910404  0.654626  0.554297  0.523910  0.512782  0.480448
3      0.910404  0.810641  0.751972  0.655009  0.554517  0.515427  0.514168
4      0.810641  0.671539  0.556669  0.505036  0.474437  0.448297  0.448175
...         ...       ...       ...       ...       ...       ...       ...
16195  0.857511  0.803709  0.743611  0.698650  0.676909  0.658428  0.621393
16196  0.864222  0.857511  0.821348  0.734750  0.705376  0.633573  0.611636
16197  0.852348  0.840062  0.794275  0.781626  0.767399  0.734750  0.670857
16198  0.796437  0.758259  0.729277  0.670857  0.608679  0.593595  0.591041
16199  0.815197  0.804425  0.692011  0.691546  0.658428  0.653597  0.602678

         l7_inv    l8_inv    l9_inv       vol  n_neighbours        Ds  drop1
0      0.506456  0.498234  0.463486  0.139783          53.0  0.521434    inf
1      0.515427  0.506456  0.502861  0.142876          53.0  0.532875    inf
2      0.471929  0.448175  0.436295  0.106246          53.0  0.485428    inf
3      0.507962  0.447708  0.437793  0.119037          53.0  0.492425    inf
4      0.415394  0.394150  0.393172  0.075929          53.0  0.562989    inf
...         ...       ...       ...       ...           ...       ...    ...
16195  0.614620  0.600692  0.578749  0.215685          53.0  0.393998    inf
16196  0.544488  0.542580  0.522569  0.198661          53.0  0.386789    inf
16197  0.614163  0.571852  0.524079  0.201818          53.0  0.374940    inf
16198  0.587466  0.552172  0.550006  0.238355          53.0  0.415230    inf
16199  0.591041  0.513711  0.492380  0.185016          53.0  0.422381    inf

[16200 rows x 14 columns]
df_n11 11
['l0_inv', 'l1_inv', 'l2_inv', 'l3_inv', 'l4_inv', 'l5_inv', 'l6_inv', 'l7_inv', 'l8_inv', 'l9_inv', 'l10_inv']
p0.1_N54/

  0%|          | 0/200 [00:00<?, ?it/s]

/home/richard/Work/4th_Year_College/final_year_project/MLACDS/MLACDS.py:543: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df,df2],ignore_index=True)

['l0_inv', 'l1_inv', 'l2_inv', 'l3_inv', 'l4_inv', 'l5_inv', 'l6_inv', 'l7_inv', 'l8_inv', 'l9_inv', 'l10_inv']
p0.2_N54/

  0%|          | 0/100 [00:00<?, ?it/s]

/home/richard/Work/4th_Year_College/final_year_project/MLACDS/MLACDS.py:543: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df,df2],ignore_index=True)

         l0_inv    l1_inv    l2_inv    l3_inv    l4_inv    l5_inv    l6_inv  \
0      0.808400  0.774553  0.708071  0.640808  0.621396  0.580007  0.509452
1      0.837130  0.654626  0.612513  0.594445  0.579262  0.550062  0.533557
2      0.919762  0.910404  0.654626  0.554297  0.523910  0.512782  0.480448
3      0.910404  0.810641  0.751972  0.655009  0.554517  0.515427  0.514168
4      0.810641  0.671539  0.556669  0.505036  0.474437  0.448297  0.448175
...         ...       ...       ...       ...       ...       ...       ...
16195  0.857511  0.803709  0.743611  0.698650  0.676909  0.658428  0.621393
16196  0.864222  0.857511  0.821348  0.734750  0.705376  0.633573  0.611636
16197  0.852348  0.840062  0.794275  0.781626  0.767399  0.734750  0.670857
16198  0.796437  0.758259  0.729277  0.670857  0.608679  0.593595  0.591041
16199  0.815197  0.804425  0.692011  0.691546  0.658428  0.653597  0.602678

         l7_inv    l8_inv    l9_inv   l10_inv       vol  n_neighbours  \
0      0.506456  0.498234  0.463486  0.457623  0.139783          53.0
1      0.515427  0.506456  0.502861  0.484893  0.142876          53.0
2      0.471929  0.448175  0.436295  0.422622  0.106246          53.0
3      0.507962  0.447708  0.437793  0.425322  0.119037          53.0
4      0.415394  0.394150  0.393172  0.381960  0.075929          53.0
...         ...       ...       ...       ...       ...           ...
16195  0.614620  0.600692  0.578749  0.566328  0.215685          53.0
16196  0.544488  0.542580  0.522569  0.507504  0.198661          53.0
16197  0.614163  0.571852  0.524079  0.510459  0.201818          53.0
16198  0.587466  0.552172  0.550006  0.543178  0.238355          53.0
16199  0.591041  0.513711  0.492380  0.487766  0.185016          53.0

             Ds  drop1
0      0.521434    inf
1      0.532875    inf
2      0.485428    inf
3      0.492425    inf
4      0.562989    inf
...         ...    ...
16195  0.393998    inf
16196  0.386789    inf
16197  0.374940    inf
16198  0.415230    inf
16199  0.422381    inf

[16200 rows x 15 columns]
df_n12 12
['l0_inv', 'l1_inv', 'l2_inv', 'l3_inv', 'l4_inv', 'l5_inv', 'l6_inv', 'l7_inv', 'l8_inv', 'l9_inv', 'l10_inv', 'l11_inv']
p0.1_N54/

  0%|          | 0/200 [00:00<?, ?it/s]

/home/richard/Work/4th_Year_College/final_year_project/MLACDS/MLACDS.py:543: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df,df2],ignore_index=True)

['l0_inv', 'l1_inv', 'l2_inv', 'l3_inv', 'l4_inv', 'l5_inv', 'l6_inv', 'l7_inv', 'l8_inv', 'l9_inv', 'l10_inv', 'l11_inv']
p0.2_N54/

  0%|          | 0/100 [00:00<?, ?it/s]

/home/richard/Work/4th_Year_College/final_year_project/MLACDS/MLACDS.py:543: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df,df2],ignore_index=True)

         l0_inv    l1_inv    l2_inv    l3_inv    l4_inv    l5_inv    l6_inv  \
0      0.808400  0.774553  0.708071  0.640808  0.621396  0.580007  0.509452
1      0.837130  0.654626  0.612513  0.594445  0.579262  0.550062  0.533557
2      0.919762  0.910404  0.654626  0.554297  0.523910  0.512782  0.480448
3      0.910404  0.810641  0.751972  0.655009  0.554517  0.515427  0.514168
4      0.810641  0.671539  0.556669  0.505036  0.474437  0.448297  0.448175
...         ...       ...       ...       ...       ...       ...       ...
16195  0.857511  0.803709  0.743611  0.698650  0.676909  0.658428  0.621393
16196  0.864222  0.857511  0.821348  0.734750  0.705376  0.633573  0.611636
16197  0.852348  0.840062  0.794275  0.781626  0.767399  0.734750  0.670857
16198  0.796437  0.758259  0.729277  0.670857  0.608679  0.593595  0.591041
16199  0.815197  0.804425  0.692011  0.691546  0.658428  0.653597  0.602678

         l7_inv    l8_inv    l9_inv   l10_inv   l11_inv       vol  \
0      0.506456  0.498234  0.463486  0.457623  0.447868  0.139783
1      0.515427  0.506456  0.502861  0.484893  0.439373  0.142876
2      0.471929  0.448175  0.436295  0.422622  0.418388  0.106246
3      0.507962  0.447708  0.437793  0.425322  0.403641  0.119037
4      0.415394  0.394150  0.393172  0.381960  0.376552  0.075929
...         ...       ...       ...       ...       ...       ...
16195  0.614620  0.600692  0.578749  0.566328  0.543178  0.215685
16196  0.544488  0.542580  0.522569  0.507504  0.504357  0.198661
16197  0.614163  0.571852  0.524079  0.510459  0.506095  0.201818
16198  0.587466  0.552172  0.550006  0.543178  0.536481  0.238355
16199  0.591041  0.513711  0.492380  0.487766  0.483720  0.185016

       n_neighbours        Ds  drop1
0              53.0  0.521434    inf
1              53.0  0.532875    inf
2              53.0  0.485428    inf
3              53.0  0.492425    inf
4              53.0  0.562989    inf
...             ...       ...    ...
16195          53.0  0.393998    inf
16196          53.0  0.386789    inf
16197          53.0  0.374940    inf
16198          53.0  0.415230    inf
16199          53.0  0.422381    inf

[16200 rows x 16 columns]
df_n13 13
['l0_inv', 'l1_inv', 'l2_inv', 'l3_inv', 'l4_inv', 'l5_inv', 'l6_inv', 'l7_inv', 'l8_inv', 'l9_inv', 'l10_inv', 'l11_inv', 'l12_inv']
p0.1_N54/

  0%|          | 0/200 [00:00<?, ?it/s]

/home/richard/Work/4th_Year_College/final_year_project/MLACDS/MLACDS.py:543: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df,df2],ignore_index=True)

['l0_inv', 'l1_inv', 'l2_inv', 'l3_inv', 'l4_inv', 'l5_inv', 'l6_inv', 'l7_inv', 'l8_inv', 'l9_inv', 'l10_inv', 'l11_inv', 'l12_inv']
p0.2_N54/

  0%|          | 0/100 [00:00<?, ?it/s]

/home/richard/Work/4th_Year_College/final_year_project/MLACDS/MLACDS.py:543: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df,df2],ignore_index=True)

         l0_inv    l1_inv    l2_inv    l3_inv    l4_inv    l5_inv    l6_inv  \
0      0.808400  0.774553  0.708071  0.640808  0.621396  0.580007  0.509452
1      0.837130  0.654626  0.612513  0.594445  0.579262  0.550062  0.533557
2      0.919762  0.910404  0.654626  0.554297  0.523910  0.512782  0.480448
3      0.910404  0.810641  0.751972  0.655009  0.554517  0.515427  0.514168
4      0.810641  0.671539  0.556669  0.505036  0.474437  0.448297  0.448175
...         ...       ...       ...       ...       ...       ...       ...
16195  0.857511  0.803709  0.743611  0.698650  0.676909  0.658428  0.621393
16196  0.864222  0.857511  0.821348  0.734750  0.705376  0.633573  0.611636
16197  0.852348  0.840062  0.794275  0.781626  0.767399  0.734750  0.670857
16198  0.796437  0.758259  0.729277  0.670857  0.608679  0.593595  0.591041
16199  0.815197  0.804425  0.692011  0.691546  0.658428  0.653597  0.602678

         l7_inv    l8_inv    l9_inv   l10_inv   l11_inv   l12_inv       vol  \
0      0.506456  0.498234  0.463486  0.457623  0.447868  0.437793  0.139783
1      0.515427  0.506456  0.502861  0.484893  0.439373  0.437826  0.142876
2      0.471929  0.448175  0.436295  0.422622  0.418388  0.409892  0.106246
3      0.507962  0.447708  0.437793  0.425322  0.403641  0.399289  0.119037
4      0.415394  0.394150  0.393172  0.381960  0.376552  0.369913  0.075929
...         ...       ...       ...       ...       ...       ...       ...
16195  0.614620  0.600692  0.578749  0.566328  0.543178  0.542791  0.215685
16196  0.544488  0.542580  0.522569  0.507504  0.504357  0.496467  0.198661
16197  0.614163  0.571852  0.524079  0.510459  0.506095  0.493950  0.201818
16198  0.587466  0.552172  0.550006  0.543178  0.536481  0.523066  0.238355
16199  0.591041  0.513711  0.492380  0.487766  0.483720  0.480705  0.185016

       n_neighbours        Ds  drop1
0              53.0  0.521434    inf
1              53.0  0.532875    inf
2              53.0  0.485428    inf
3              53.0  0.492425    inf
4              53.0  0.562989    inf
...             ...       ...    ...
16195          53.0  0.393998    inf
16196          53.0  0.386789    inf
16197          53.0  0.374940    inf
16198          53.0  0.415230    inf
16199          53.0  0.422381    inf

[16200 rows x 17 columns]
df_n14 14
['l0_inv', 'l1_inv', 'l2_inv', 'l3_inv', 'l4_inv', 'l5_inv', 'l6_inv', 'l7_inv', 'l8_inv', 'l9_inv', 'l10_inv', 'l11_inv', 'l12_inv', 'l13_inv']
p0.1_N54/

  0%|          | 0/200 [00:00<?, ?it/s]

/home/richard/Work/4th_Year_College/final_year_project/MLACDS/MLACDS.py:543: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df,df2],ignore_index=True)

['l0_inv', 'l1_inv', 'l2_inv', 'l3_inv', 'l4_inv', 'l5_inv', 'l6_inv', 'l7_inv', 'l8_inv', 'l9_inv', 'l10_inv', 'l11_inv', 'l12_inv', 'l13_inv']
p0.2_N54/

  0%|          | 0/100 [00:00<?, ?it/s]

/home/richard/Work/4th_Year_College/final_year_project/MLACDS/MLACDS.py:543: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df,df2],ignore_index=True)

         l0_inv    l1_inv    l2_inv    l3_inv    l4_inv    l5_inv    l6_inv  \
0      0.808400  0.774553  0.708071  0.640808  0.621396  0.580007  0.509452
1      0.837130  0.654626  0.612513  0.594445  0.579262  0.550062  0.533557
2      0.919762  0.910404  0.654626  0.554297  0.523910  0.512782  0.480448
3      0.910404  0.810641  0.751972  0.655009  0.554517  0.515427  0.514168
4      0.810641  0.671539  0.556669  0.505036  0.474437  0.448297  0.448175
...         ...       ...       ...       ...       ...       ...       ...
16195  0.857511  0.803709  0.743611  0.698650  0.676909  0.658428  0.621393
16196  0.864222  0.857511  0.821348  0.734750  0.705376  0.633573  0.611636
16197  0.852348  0.840062  0.794275  0.781626  0.767399  0.734750  0.670857
16198  0.796437  0.758259  0.729277  0.670857  0.608679  0.593595  0.591041
16199  0.815197  0.804425  0.692011  0.691546  0.658428  0.653597  0.602678

         l7_inv    l8_inv    l9_inv   l10_inv   l11_inv   l12_inv   l13_inv  \
0      0.506456  0.498234  0.463486  0.457623  0.447868  0.437793  0.415126
1      0.515427  0.506456  0.502861  0.484893  0.439373  0.437826  0.414073
2      0.471929  0.448175  0.436295  0.422622  0.418388  0.409892  0.399018
3      0.507962  0.447708  0.437793  0.425322  0.403641  0.399289  0.397212
4      0.415394  0.394150  0.393172  0.381960  0.376552  0.369913  0.357612
...         ...       ...       ...       ...       ...       ...       ...
16195  0.614620  0.600692  0.578749  0.566328  0.543178  0.542791  0.465641
16196  0.544488  0.542580  0.522569  0.507504  0.504357  0.496467  0.481365
16197  0.614163  0.571852  0.524079  0.510459  0.506095  0.493950  0.476549
16198  0.587466  0.552172  0.550006  0.543178  0.536481  0.523066  0.518987
16199  0.591041  0.513711  0.492380  0.487766  0.483720  0.480705  0.460570

            vol  n_neighbours        Ds  drop1
0      0.139783          53.0  0.521434    inf
1      0.142876          53.0  0.532875    inf
2      0.106246          53.0  0.485428    inf
3      0.119037          53.0  0.492425    inf
4      0.075929          53.0  0.562989    inf
...         ...           ...       ...    ...
16195  0.215685          53.0  0.393998    inf
16196  0.198661          53.0  0.386789    inf
16197  0.201818          53.0  0.374940    inf
16198  0.238355          53.0  0.415230    inf
16199  0.185016          53.0  0.422381    inf

[16200 rows x 18 columns]
df_n15 15
['l0_inv', 'l1_inv', 'l2_inv', 'l3_inv', 'l4_inv', 'l5_inv', 'l6_inv', 'l7_inv', 'l8_inv', 'l9_inv', 'l10_inv', 'l11_inv', 'l12_inv', 'l13_inv', 'l14_inv']
p0.1_N54/

  0%|          | 0/200 [00:00<?, ?it/s]

/home/richard/Work/4th_Year_College/final_year_project/MLACDS/MLACDS.py:543: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df,df2],ignore_index=True)

['l0_inv', 'l1_inv', 'l2_inv', 'l3_inv', 'l4_inv', 'l5_inv', 'l6_inv', 'l7_inv', 'l8_inv', 'l9_inv', 'l10_inv', 'l11_inv', 'l12_inv', 'l13_inv', 'l14_inv']
p0.2_N54/

  0%|          | 0/100 [00:00<?, ?it/s]

/home/richard/Work/4th_Year_College/final_year_project/MLACDS/MLACDS.py:543: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df,df2],ignore_index=True)

         l0_inv    l1_inv    l2_inv    l3_inv    l4_inv    l5_inv    l6_inv  \
0      0.808400  0.774553  0.708071  0.640808  0.621396  0.580007  0.509452
1      0.837130  0.654626  0.612513  0.594445  0.579262  0.550062  0.533557
2      0.919762  0.910404  0.654626  0.554297  0.523910  0.512782  0.480448
3      0.910404  0.810641  0.751972  0.655009  0.554517  0.515427  0.514168
4      0.810641  0.671539  0.556669  0.505036  0.474437  0.448297  0.448175
...         ...       ...       ...       ...       ...       ...       ...
16195  0.857511  0.803709  0.743611  0.698650  0.676909  0.658428  0.621393
16196  0.864222  0.857511  0.821348  0.734750  0.705376  0.633573  0.611636
16197  0.852348  0.840062  0.794275  0.781626  0.767399  0.734750  0.670857
16198  0.796437  0.758259  0.729277  0.670857  0.608679  0.593595  0.591041
16199  0.815197  0.804425  0.692011  0.691546  0.658428  0.653597  0.602678

         l7_inv    l8_inv    l9_inv   l10_inv   l11_inv   l12_inv   l13_inv  \
0      0.506456  0.498234  0.463486  0.457623  0.447868  0.437793  0.415126
1      0.515427  0.506456  0.502861  0.484893  0.439373  0.437826  0.414073
2      0.471929  0.448175  0.436295  0.422622  0.418388  0.409892  0.399018
3      0.507962  0.447708  0.437793  0.425322  0.403641  0.399289  0.397212
4      0.415394  0.394150  0.393172  0.381960  0.376552  0.369913  0.357612
...         ...       ...       ...       ...       ...       ...       ...
16195  0.614620  0.600692  0.578749  0.566328  0.543178  0.542791  0.465641
16196  0.544488  0.542580  0.522569  0.507504  0.504357  0.496467  0.481365
16197  0.614163  0.571852  0.524079  0.510459  0.506095  0.493950  0.476549
16198  0.587466  0.552172  0.550006  0.543178  0.536481  0.523066  0.518987
16199  0.591041  0.513711  0.492380  0.487766  0.483720  0.480705  0.460570

        l14_inv       vol  n_neighbours        Ds  drop1
0      0.407443  0.139783          53.0  0.521434    inf
1      0.410523  0.142876          53.0  0.532875    inf
2      0.392845  0.106246          53.0  0.485428    inf
3      0.391972  0.119037          53.0  0.492425    inf
4      0.353776  0.075929          53.0  0.562989    inf
...         ...       ...           ...       ...    ...
16195  0.463680  0.215685          53.0  0.393998    inf
16196  0.461733  0.198661          53.0  0.386789    inf
16197  0.464418  0.201818          53.0  0.374940    inf
16198  0.507207  0.238355          53.0  0.415230    inf
16199  0.459397  0.185016          53.0  0.422381    inf

[16200 rows x 19 columns]
df_n16 16
['l0_inv', 'l1_inv', 'l2_inv', 'l3_inv', 'l4_inv', 'l5_inv', 'l6_inv', 'l7_inv', 'l8_inv', 'l9_inv', 'l10_inv', 'l11_inv', 'l12_inv', 'l13_inv', 'l14_inv', 'l15_inv']
p0.1_N54/

  0%|          | 0/200 [00:00<?, ?it/s]

/home/richard/Work/4th_Year_College/final_year_project/MLACDS/MLACDS.py:543: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df,df2],ignore_index=True)

['l0_inv', 'l1_inv', 'l2_inv', 'l3_inv', 'l4_inv', 'l5_inv', 'l6_inv', 'l7_inv', 'l8_inv', 'l9_inv', 'l10_inv', 'l11_inv', 'l12_inv', 'l13_inv', 'l14_inv', 'l15_inv']
p0.2_N54/

  0%|          | 0/100 [00:00<?, ?it/s]

/home/richard/Work/4th_Year_College/final_year_project/MLACDS/MLACDS.py:543: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df,df2],ignore_index=True)

         l0_inv    l1_inv    l2_inv    l3_inv    l4_inv    l5_inv    l6_inv  \
0      0.808400  0.774553  0.708071  0.640808  0.621396  0.580007  0.509452
1      0.837130  0.654626  0.612513  0.594445  0.579262  0.550062  0.533557
2      0.919762  0.910404  0.654626  0.554297  0.523910  0.512782  0.480448
3      0.910404  0.810641  0.751972  0.655009  0.554517  0.515427  0.514168
4      0.810641  0.671539  0.556669  0.505036  0.474437  0.448297  0.448175
...         ...       ...       ...       ...       ...       ...       ...
16195  0.857511  0.803709  0.743611  0.698650  0.676909  0.658428  0.621393
16196  0.864222  0.857511  0.821348  0.734750  0.705376  0.633573  0.611636
16197  0.852348  0.840062  0.794275  0.781626  0.767399  0.734750  0.670857
16198  0.796437  0.758259  0.729277  0.670857  0.608679  0.593595  0.591041
16199  0.815197  0.804425  0.692011  0.691546  0.658428  0.653597  0.602678

         l7_inv    l8_inv    l9_inv   l10_inv   l11_inv   l12_inv   l13_inv  \
0      0.506456  0.498234  0.463486  0.457623  0.447868  0.437793  0.415126
1      0.515427  0.506456  0.502861  0.484893  0.439373  0.437826  0.414073
2      0.471929  0.448175  0.436295  0.422622  0.418388  0.409892  0.399018
3      0.507962  0.447708  0.437793  0.425322  0.403641  0.399289  0.397212
4      0.415394  0.394150  0.393172  0.381960  0.376552  0.369913  0.357612
...         ...       ...       ...       ...       ...       ...       ...
16195  0.614620  0.600692  0.578749  0.566328  0.543178  0.542791  0.465641
16196  0.544488  0.542580  0.522569  0.507504  0.504357  0.496467  0.481365
16197  0.614163  0.571852  0.524079  0.510459  0.506095  0.493950  0.476549
16198  0.587466  0.552172  0.550006  0.543178  0.536481  0.523066  0.518987
16199  0.591041  0.513711  0.492380  0.487766  0.483720  0.480705  0.460570

        l14_inv   l15_inv       vol  n_neighbours        Ds  drop1
0      0.407443  0.371555  0.139783          53.0  0.521434    inf
1      0.410523  0.408974  0.142876          53.0  0.532875    inf
2      0.392845  0.366956  0.106246          53.0  0.485428    inf
3      0.391972  0.373878  0.119037          53.0  0.492425    inf
4      0.353776  0.351247  0.075929          53.0  0.562989    inf
...         ...       ...       ...           ...       ...    ...
16195  0.463680  0.458306  0.215685          53.0  0.393998    inf
16196  0.461733  0.460709  0.198661          53.0  0.386789    inf
16197  0.464418  0.458306  0.201818          53.0  0.374940    inf
16198  0.507207  0.504598  0.238355          53.0  0.415230    inf
16199  0.459397  0.457301  0.185016          53.0  0.422381    inf

[16200 rows x 20 columns]

In [7]:
dataset_dict.keys()

dict_keys(['df_n1', 'df_n2', 'df_n3', 'df_n4', 'df_n5', 'df_n6', 'df_n7', 'df_n8', 'df_n9', 'df_n10', 'df_n11', 'df_n12', 'df_n13', 'df_n14', 'df_n15', 'df_n16'])

In [8]:
with open('data/n_neighbour_dataframes.pkl', 'wb') as f:
    pickle.dump(dataset_dict, f)

NameError: name 'dataset_dict' is not defined