In [6]:
import MLACDS as dt #dif~fusion simulation tools
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', 32)

In [7]:
N_neighbours = 4 ### number of neighbours to be extracted

dires_original = ["p0.1_N54/"]
diresN54 = ["testN54/"]
diresN108 = ["testN108/"]
diresN108_test2 = ["test2N108/"]

f_r_cut_vol = 4
f_r_cut_sp = 30

path1="data/"
path="data/test_simulation_data/"

In [8]:
df_original = dt.get_data(path1, dires_original, f_r_cut_vol, f_r_cut_sp,
                      N_neighbours, dist=False, dist_inv=False, bond_order=False, angular=False)

  0%|          | 0/200 [00:00<?, ?it/s]

In [3]:

dfN54 = dt.get_data(path, diresN54, f_r_cut_vol, f_r_cut_sp,
                      N_neighbours, dist=False, dist_inv=False, bond_order=False, angular=False)

dfN108 = dt.get_data(path, diresN108, f_r_cut_vol, f_r_cut_sp,
                      N_neighbours, dist=False, dist_inv=False, bond_order=False, angular=False)

dfN108_test2 = dt.get_data(path, diresN108_test2, f_r_cut_vol, f_r_cut_sp,
                      N_neighbours, dist=False, dist_inv=False, bond_order=False, angular=False)

  0%|          | 0/50 [00:00<?, ?it/s]

  0%|          | 0/50 [00:00<?, ?it/s]

  0%|          | 0/25 [00:00<?, ?it/s]

In [4]:
df_original

           vol  n_neighbours  n_particles        Ds
0     0.200455           NaN         54.0  0.367946
1     0.206035           NaN         54.0  0.405260
2     0.216181           NaN         54.0  0.411686
3     0.192773           NaN         54.0  0.387032
4     0.192975           NaN         54.0  0.346245
...        ...           ...          ...       ...
5395  0.215685           NaN         54.0  0.393998
5396  0.198661           NaN         54.0  0.386789
5397  0.201818           NaN         54.0  0.374940
5398  0.238355           NaN         54.0  0.415230
5399  0.185016           NaN         54.0  0.422381

[5400 rows x 4 columns]

In [4]:
dfN54

           vol  n_neighbours  n_particles        Ds
0     0.241136           NaN         54.0  0.359267
1     0.185691           NaN         54.0  0.399878
2     0.185493           NaN         54.0  0.372988
3     0.234763           NaN         54.0  0.374498
4     0.206203           NaN         54.0  0.416954
...        ...           ...          ...       ...
2695  0.202072           NaN         54.0  0.420975
2696  0.206545           NaN         54.0  0.381774
2697  0.198841           NaN         54.0  0.345242
2698  0.221558           NaN         54.0  0.391369
2699  0.188976           NaN         54.0  0.375047

[2700 rows x 4 columns]

In [5]:
dfN108[:2700]

           vol  n_neighbours  n_particles        Ds
0     0.211766           NaN        108.0  0.428334
1     0.233788           NaN        108.0  0.463554
2     0.232792           NaN        108.0  0.405138
3     0.198257           NaN        108.0  0.427732
4     0.213178           NaN        108.0  0.422087
...        ...           ...          ...       ...
2695  0.155731           NaN        108.0  0.490223
2696  0.194702           NaN        108.0  0.471169
2697  0.236538           NaN        108.0  0.436875
2698  0.212444           NaN        108.0  0.411195
2699  0.231924           NaN        108.0  0.432103

[2700 rows x 4 columns]

In [6]:
dfN108_test2

           vol  n_neighbours  n_particles        Ds
0     0.209523           NaN        108.0  0.457218
1     0.227426           NaN        108.0  0.397976
2     0.226012           NaN        108.0  0.378513
3     0.206222           NaN        108.0  0.416387
4     0.223792           NaN        108.0  0.402409
...        ...           ...          ...       ...
2695  0.221523           NaN        108.0  0.432827
2696  0.231350           NaN        108.0  0.426515
2697  0.197849           NaN        108.0  0.453993
2698  0.216113           NaN        108.0  0.397589
2699  0.205003           NaN        108.0  0.433614

[2700 rows x 4 columns]

In [10]:
10800/54

200.0

In [9]:
2700/54

50.0

In [5]:
5400/54

100.0