In [1]:
import numpy as np
import pandas as pd
import pickle 
import MLACDS as dt

In [82]:
def vary_n_neighbours(N_neighbours_list, df_list):
    frames = {} #dict to save frames to
    for df_ind, N_neighbours in enumerate(N_neighbours_list):
        print(df_list[df_ind], N_neighbours)
        #### list with names to be used in the final dataframe
        l_s = list(range(N_neighbours))
        l_s_names = []
        
        for i in l_s:
            l_s_names.append('l'+str(i)+"_inv")
        
        bo = []
        bo_names = []
        
        f_r_cut_vol = 4
        
        f_r_cut_sp = 30
        
        df = dt.load_data(dires, l_s, l_s_names, bo, bo_names, f_r_cut_vol, f_r_cut_sp, N_neighbours, use_bond_order=False)
        frames[df_list[df_ind]] = df
    return frames

In [83]:
dires = ['p0.1_N54/', 'p0.2_N54/']

In [90]:
N_neighbours_start = 1
N_neighbours_end = 16

In [97]:
N_neighbours_list = [i for i in range(N_neighbours_start, N_neighbours_end+1)]
df_list = [f"df_n{i}" for i in range(N_neighbours_start, N_neighbours_end+1)]

In [100]:
dataset_dict = vary_n_neighbours(N_neighbours_list, df_list)

df_n1 1

  0%|          | 0/200 [00:00<?, ?it/s]

/home/richard/Work/4th_Year_College/final_year_project/MLACDS/MLACDS.py:421: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df,df2],ignore_index=True)

  0%|          | 0/100 [00:00<?, ?it/s]

/home/richard/Work/4th_Year_College/final_year_project/MLACDS/MLACDS.py:421: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df,df2],ignore_index=True)

df_n2 2

  0%|          | 0/200 [00:00<?, ?it/s]

/home/richard/Work/4th_Year_College/final_year_project/MLACDS/MLACDS.py:421: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df,df2],ignore_index=True)

  0%|          | 0/100 [00:00<?, ?it/s]

/home/richard/Work/4th_Year_College/final_year_project/MLACDS/MLACDS.py:421: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df,df2],ignore_index=True)

df_n3 3

  0%|          | 0/200 [00:00<?, ?it/s]

/home/richard/Work/4th_Year_College/final_year_project/MLACDS/MLACDS.py:421: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df,df2],ignore_index=True)

  0%|          | 0/100 [00:00<?, ?it/s]

/home/richard/Work/4th_Year_College/final_year_project/MLACDS/MLACDS.py:421: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df,df2],ignore_index=True)

df_n4 4

  0%|          | 0/200 [00:00<?, ?it/s]

/home/richard/Work/4th_Year_College/final_year_project/MLACDS/MLACDS.py:421: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df,df2],ignore_index=True)

  0%|          | 0/100 [00:00<?, ?it/s]

/home/richard/Work/4th_Year_College/final_year_project/MLACDS/MLACDS.py:421: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df,df2],ignore_index=True)

df_n5 5

  0%|          | 0/200 [00:00<?, ?it/s]

/home/richard/Work/4th_Year_College/final_year_project/MLACDS/MLACDS.py:421: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df,df2],ignore_index=True)

  0%|          | 0/100 [00:00<?, ?it/s]

/home/richard/Work/4th_Year_College/final_year_project/MLACDS/MLACDS.py:421: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df,df2],ignore_index=True)

df_n6 6

  0%|          | 0/200 [00:00<?, ?it/s]

/home/richard/Work/4th_Year_College/final_year_project/MLACDS/MLACDS.py:421: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df,df2],ignore_index=True)

  0%|          | 0/100 [00:00<?, ?it/s]

/home/richard/Work/4th_Year_College/final_year_project/MLACDS/MLACDS.py:421: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df,df2],ignore_index=True)

df_n7 7

  0%|          | 0/200 [00:00<?, ?it/s]

/home/richard/Work/4th_Year_College/final_year_project/MLACDS/MLACDS.py:421: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df,df2],ignore_index=True)

  0%|          | 0/100 [00:00<?, ?it/s]

/home/richard/Work/4th_Year_College/final_year_project/MLACDS/MLACDS.py:421: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df,df2],ignore_index=True)

df_n8 8

  0%|          | 0/200 [00:00<?, ?it/s]

/home/richard/Work/4th_Year_College/final_year_project/MLACDS/MLACDS.py:421: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df,df2],ignore_index=True)

  0%|          | 0/100 [00:00<?, ?it/s]

/home/richard/Work/4th_Year_College/final_year_project/MLACDS/MLACDS.py:421: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df,df2],ignore_index=True)

df_n9 9

  0%|          | 0/200 [00:00<?, ?it/s]

/home/richard/Work/4th_Year_College/final_year_project/MLACDS/MLACDS.py:421: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df,df2],ignore_index=True)

  0%|          | 0/100 [00:00<?, ?it/s]

/home/richard/Work/4th_Year_College/final_year_project/MLACDS/MLACDS.py:421: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df,df2],ignore_index=True)

df_n10 10

  0%|          | 0/200 [00:00<?, ?it/s]

/home/richard/Work/4th_Year_College/final_year_project/MLACDS/MLACDS.py:421: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df,df2],ignore_index=True)

  0%|          | 0/100 [00:00<?, ?it/s]

/home/richard/Work/4th_Year_College/final_year_project/MLACDS/MLACDS.py:421: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df,df2],ignore_index=True)

df_n11 11

  0%|          | 0/200 [00:00<?, ?it/s]

/home/richard/Work/4th_Year_College/final_year_project/MLACDS/MLACDS.py:421: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df,df2],ignore_index=True)

  0%|          | 0/100 [00:00<?, ?it/s]

/home/richard/Work/4th_Year_College/final_year_project/MLACDS/MLACDS.py:421: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df,df2],ignore_index=True)

df_n12 12

  0%|          | 0/200 [00:00<?, ?it/s]

/home/richard/Work/4th_Year_College/final_year_project/MLACDS/MLACDS.py:421: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df,df2],ignore_index=True)

  0%|          | 0/100 [00:00<?, ?it/s]

/home/richard/Work/4th_Year_College/final_year_project/MLACDS/MLACDS.py:421: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df,df2],ignore_index=True)

df_n13 13

  0%|          | 0/200 [00:00<?, ?it/s]

/home/richard/Work/4th_Year_College/final_year_project/MLACDS/MLACDS.py:421: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df,df2],ignore_index=True)

  0%|          | 0/100 [00:00<?, ?it/s]

/home/richard/Work/4th_Year_College/final_year_project/MLACDS/MLACDS.py:421: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df,df2],ignore_index=True)

df_n14 14

  0%|          | 0/200 [00:00<?, ?it/s]

/home/richard/Work/4th_Year_College/final_year_project/MLACDS/MLACDS.py:421: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df,df2],ignore_index=True)

  0%|          | 0/100 [00:00<?, ?it/s]

/home/richard/Work/4th_Year_College/final_year_project/MLACDS/MLACDS.py:421: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df,df2],ignore_index=True)

df_n15 15

  0%|          | 0/200 [00:00<?, ?it/s]

/home/richard/Work/4th_Year_College/final_year_project/MLACDS/MLACDS.py:421: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df,df2],ignore_index=True)

  0%|          | 0/100 [00:00<?, ?it/s]

/home/richard/Work/4th_Year_College/final_year_project/MLACDS/MLACDS.py:421: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df,df2],ignore_index=True)

df_n16 16

  0%|          | 0/200 [00:00<?, ?it/s]

/home/richard/Work/4th_Year_College/final_year_project/MLACDS/MLACDS.py:421: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df,df2],ignore_index=True)

  0%|          | 0/100 [00:00<?, ?it/s]

/home/richard/Work/4th_Year_College/final_year_project/MLACDS/MLACDS.py:421: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df,df2],ignore_index=True)

In [105]:
dataset_dict.keys()

dict_keys(['df_n1', 'df_n2', 'df_n3', 'df_n4', 'df_n5', 'df_n6', 'df_n7', 'df_n8', 'df_n9', 'df_n10', 'df_n11', 'df_n12', 'df_n13', 'df_n14', 'df_n15', 'df_n16'])

In [112]:
with open('data/n_neighbour_dataframes.pkl', 'wb') as f:
    pickle.dump(dataset_dict, f)